<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">


    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>
                <globalCustomFields>{"service":"human-resources-app"}</globalCustomFields>

                <pattern>
                    <pattern>
                        {
                        "severity": "%level",
                        "logger": "%logger{36}",
                        "trace_id": "%X{trace_id}",
                        "thread": "%thread",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>

                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>

                <!-- Sihir burada -->
                <callerData>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <lineFieldName>line</lineFieldName>
                    <fileFieldName>file</fileFieldName>
                </callerData>

                <mdc />
            </providers>

        </encoder>
    </appender>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <logger name="com.HumanResourcesProject.service" level="INFO"/>
    <logger name="com.HumanResourcesProject.controller" level="INFO"/>
    <logger name="com.HumanResourcesProject.scheduler" level="INFO"/>
    <logger name="com.HumanResourcesProject.notification" level="INFO"/>

    <logger name="com.HumanResourcesProject.handler" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>
